/* Light mode */
:root {
    --background: oklch(98.5% 0.005 50);
    --foreground: oklch(18% 0.02 50);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(18% 0.02 50);
    --primary: oklch(65% 0.19 45);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(94% 0.015 50);
    --secondary-foreground: oklch(25% 0.02 50);
    --muted: oklch(92% 0.012 50);
    --muted-foreground: oklch(45% 0.02 50);
    --accent: oklch(70% 0.16 48);
    --accent-foreground: oklch(18% 0.02 50);
    --destructive: oklch(55% 0.22 25);
    --destructive-foreground: oklch(100% 0 0);
    --border: oklch(89% 0.01 50);
    --input: oklch(89% 0.01 50);
    --ring: oklch(65% 0.19 45);
  }

/* Dark mode */
.dark {

    --background: oklch(17.1% 0.016 56.04);
    --foreground: oklch(98.51% 0.003 106.42);
    --card: oklch(21.27% 0.018 56.04);
    --card-foreground: oklch(98.51% 0.003 106.42);
    --primary: oklch(70.23% 0.179 47.6);
    --primary-foreground: oklch(98.51% 0.003 106.42);
    --secondary: oklch(25.04% 0.017 56.04);
    --secondary-foreground: oklch(98.51% 0.003 106.42);
    --muted: oklch(30.7% 0.017 56.04);
    --muted-foreground: oklch(60.13% 0.016 50.54);
    --accent: oklch(74.98% 0.152 48.72);
    --accent-foreground: oklch(17.1% 0.016 56.04);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.51% 0.003 106.42);
    --border: oklch(33.31% 0.017 56.04);
    --input: oklch(33.31% 0.017 56.04);
    --ring: oklch(70.23% 0.179 47.6);
  
}

/* Light mode */
:root {
    --background: oklch(98.5% 0.008 305);
    --foreground: oklch(20% 0.05 305);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(20% 0.05 305);
    --primary: oklch(55% 0.22 303);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(94% 0.025 305);
    --secondary-foreground: oklch(25% 0.05 305);
    --muted: oklch(92% 0.02 305);
    --muted-foreground: oklch(45% 0.03 305);
    --accent: oklch(68% 0.16 303);
    --accent-foreground: oklch(20% 0.05 305);
    --destructive: oklch(55% 0.22 25);
    --destructive-foreground: oklch(100% 0 0);
    --border: oklch(89% 0.018 305);
    --input: oklch(89% 0.018 305);
    --ring: oklch(55% 0.22 303);
  }

/* Dark mode */
.dark {

    --background: oklch(20.72% 0.054 304.52);
    --foreground: oklch(98.14% 0.009 304.52);
    --card: oklch(24.95% 0.057 304.52);
    --card-foreground: oklch(98.14% 0.009 304.52);
    --primary: oklch(62.98% 0.213 303.11);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(28.87% 0.054 304.52);
    --secondary-foreground: oklch(98.14% 0.009 304.52);
    --muted: oklch(34.16% 0.049 304.52);
    --muted-foreground: oklch(60.49% 0.027 304.52);
    --accent: oklch(74.04% 0.149 303.47);
    --accent-foreground: oklch(20.72% 0.054 304.52);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.14% 0.009 304.52);
    --border: oklch(36.84% 0.049 304.52);
    --input: oklch(36.84% 0.049 304.52);
    --ring: oklch(62.98% 0.213 303.11);
  
}

/* Light mode */
:root {
    --background: oklch(98.5% 0.008 346);
    --foreground: oklch(20% 0.05 346);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(20% 0.05 346);
    --primary: oklch(58% 0.2 350);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(94% 0.025 346);
    --secondary-foreground: oklch(25% 0.05 346);
    --muted: oklch(92% 0.02 346);
    --muted-foreground: oklch(45% 0.03 346);
    --accent: oklch(70% 0.15 350);
    --accent-foreground: oklch(20% 0.05 346);
    --destructive: oklch(55% 0.22 25);
    --destructive-foreground: oklch(100% 0 0);
    --border: oklch(89% 0.018 346);
    --input: oklch(89% 0.018 346);
    --ring: oklch(58% 0.2 350);
  }

/* Dark mode */
.dark {

    --background: oklch(21.38% 0.054 346.01);
    --foreground: oklch(98.08% 0.01 346.01);
    --card: oklch(25.52% 0.057 346.01);
    --card-foreground: oklch(98.08% 0.01 346.01);
    --primary: oklch(65.6% 0.196 349.76);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(29.33% 0.054 346.01);
    --secondary-foreground: oklch(98.08% 0.01 346.01);
    --muted: oklch(34.79% 0.049 346.01);
    --muted-foreground: oklch(60.68% 0.027 346.01);
    --accent: oklch(74.86% 0.145 350.49);
    --accent-foreground: oklch(21.38% 0.054 346.01);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.08% 0.01 346.01);
    --border: oklch(37.32% 0.049 346.01);
    --input: oklch(37.32% 0.049 346.01);
    --ring: oklch(65.6% 0.196 349.76);
  
}

/* Light mode */
:root {
    --background: oklch(98.5% 0.005 145);
    --foreground: oklch(18% 0.03 150);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(18% 0.03 150);
    --primary: oklch(62% 0.19 150);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(94% 0.02 150);
    --secondary-foreground: oklch(25% 0.03 150);
    --muted: oklch(92% 0.015 150);
    --muted-foreground: oklch(45% 0.02 150);
    --accent: oklch(72% 0.17 150);
    --accent-foreground: oklch(18% 0.03 150);
    --destructive: oklch(55% 0.22 25);
    --destructive-foreground: oklch(100% 0 0);
    --border: oklch(89% 0.012 150);
    --input: oklch(89% 0.012 150);
    --ring: oklch(62% 0.19 150);
  }

/* Dark mode */
.dark {

    --background: oklch(18.56% 0.033 151.71);
    --foreground: oklch(98.31% 0.006 143.75);
    --card: oklch(23.09% 0.038 151.71);
    --card-foreground: oklch(98.31% 0.006 143.75);
    --primary: oklch(72.28% 0.187 149.58);
    --primary-foreground: oklch(18.56% 0.033 151.71);
    --secondary: oklch(26.83% 0.037 151.71);
    --secondary-foreground: oklch(98.31% 0.006 143.75);
    --muted: oklch(32.23% 0.033 151.71);
    --muted-foreground: oklch(60.35% 0.022 149.21);
    --accent: oklch(79.49% 0.171 150.06);
    --accent-foreground: oklch(18.56% 0.033 151.71);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.31% 0.006 143.75);
    --border: oklch(34.85% 0.033 151.71);
    --input: oklch(34.85% 0.033 151.71);
    --ring: oklch(72.28% 0.187 149.58);
  
}

/* Light mode */
:root {
    --background: oklch(98.5% 0.008 346);
    --foreground: oklch(20% 0.05 346);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(20% 0.05 346);
    --primary: oklch(58% 0.2 350);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(94% 0.025 346);
    --secondary-foreground: oklch(25% 0.05 346);
    --muted: oklch(92% 0.02 346);
    --muted-foreground: oklch(45% 0.03 346);
    --accent: oklch(70% 0.15 350);
    --accent-foreground: oklch(20% 0.05 346);
    --destructive: oklch(55% 0.22 25);
    --destructive-foreground: oklch(100% 0 0);
    --border: oklch(89% 0.018 346);
    --input: oklch(89% 0.018 346);
    --ring: oklch(58% 0.2 350);
  }

/* Dark mode */
.dark {

    --background: oklch(21.38% 0.054 346.01);
    --foreground: oklch(98.08% 0.01 346.01);
    --card: oklch(25.52% 0.057 346.01);
    --card-foreground: oklch(98.08% 0.01 346.01);
    --primary: oklch(65.6% 0.196 349.76);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(29.33% 0.054 346.01);
    --secondary-foreground: oklch(98.08% 0.01 346.01);
    --muted: oklch(34.79% 0.049 346.01);
    --muted-foreground: oklch(60.68% 0.027 346.01);
    --accent: oklch(74.86% 0.145 350.49);
    --accent-foreground: oklch(21.38% 0.054 346.01);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.08% 0.01 346.01);
    --border: oklch(37.32% 0.049 346.01);
    --input: oklch(37.32% 0.049 346.01);
    --ring: oklch(65.6% 0.196 349.76);
  
}

:root {
    --background: oklch(18.56% 0.033 151.71);
    --foreground: oklch(98.31% 0.006 143.75);
    --card: oklch(23.09% 0.038 151.71);
    --card-foreground: oklch(98.31% 0.006 143.75);
    --primary: oklch(72.28% 0.187 149.58);
    --primary-foreground: oklch(18.56% 0.033 151.71);
    --secondary: oklch(26.83% 0.037 151.71);
    --secondary-foreground: oklch(98.31% 0.006 143.75);
    --muted: oklch(32.23% 0.033 151.71);
    --muted-foreground: oklch(60.35% 0.022 149.21);
    --accent: oklch(79.49% 0.171 150.06);
    --accent-foreground: oklch(18.56% 0.033 151.71);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.31% 0.006 143.75);
    --border: oklch(34.85% 0.033 151.71);
    --input: oklch(34.85% 0.033 151.71);
    --ring: oklch(72.28% 0.187 149.58);
  }

:root {
    --background: oklch(21.38% 0.054 346.01);
    --foreground: oklch(98.08% 0.01 346.01);
    --card: oklch(25.52% 0.057 346.01);
    --card-foreground: oklch(98.08% 0.01 346.01);
    --primary: oklch(65.6% 0.196 349.76);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(29.33% 0.054 346.01);
    --secondary-foreground: oklch(98.08% 0.01 346.01);
    --muted: oklch(34.79% 0.049 346.01);
    --muted-foreground: oklch(60.68% 0.027 346.01);
    --accent: oklch(74.86% 0.145 350.49);
    --accent-foreground: oklch(21.38% 0.054 346.01);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.08% 0.01 346.01);
    --border: oklch(37.32% 0.049 346.01);
    --input: oklch(37.32% 0.049 346.01);
    --ring: oklch(65.6% 0.196 349.76);
  }

:root {
    --background: oklch(18.56% 0.033 151.71);
    --foreground: oklch(98.31% 0.006 143.75);
    --card: oklch(23.09% 0.038 151.71);
    --card-foreground: oklch(98.31% 0.006 143.75);
    --primary: oklch(72.28% 0.187 149.58);
    --primary-foreground: oklch(18.56% 0.033 151.71);
    --secondary: oklch(26.83% 0.037 151.71);
    --secondary-foreground: oklch(98.31% 0.006 143.75);
    --muted: oklch(32.23% 0.033 151.71);
    --muted-foreground: oklch(60.35% 0.022 149.21);
    --accent: oklch(79.49% 0.171 150.06);
    --accent-foreground: oklch(18.56% 0.033 151.71);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.31% 0.006 143.75);
    --border: oklch(34.85% 0.033 151.71);
    --input: oklch(34.85% 0.033 151.71);
    --ring: oklch(72.28% 0.187 149.58);
  }

:root {
    --background: oklch(17.1% 0.016 56.04);
    --foreground: oklch(98.51% 0.003 106.42);
    --card: oklch(21.27% 0.018 56.04);
    --card-foreground: oklch(98.51% 0.003 106.42);
    --primary: oklch(70.23% 0.179 47.6);
    --primary-foreground: oklch(98.51% 0.003 106.42);
    --secondary: oklch(25.04% 0.017 56.04);
    --secondary-foreground: oklch(98.51% 0.003 106.42);
    --muted: oklch(30.7% 0.017 56.04);
    --muted-foreground: oklch(60.13% 0.016 50.54);
    --accent: oklch(74.98% 0.152 48.72);
    --accent-foreground: oklch(17.1% 0.016 56.04);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.51% 0.003 106.42);
    --border: oklch(33.31% 0.017 56.04);
    --input: oklch(33.31% 0.017 56.04);
    --ring: oklch(70.23% 0.179 47.6);
  }

:root {
    --background: oklch(18.56% 0.033 151.71);
    --foreground: oklch(98.31% 0.006 143.75);
    --card: oklch(23.09% 0.038 151.71);
    --card-foreground: oklch(98.31% 0.006 143.75);
    --primary: oklch(72.28% 0.187 149.58);
    --primary-foreground: oklch(18.56% 0.033 151.71);
    --secondary: oklch(26.83% 0.037 151.71);
    --secondary-foreground: oklch(98.31% 0.006 143.75);
    --muted: oklch(32.23% 0.033 151.71);
    --muted-foreground: oklch(60.35% 0.022 149.21);
    --accent: oklch(79.49% 0.171 150.06);
    --accent-foreground: oklch(18.56% 0.033 151.71);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.31% 0.006 143.75);
    --border: oklch(34.85% 0.033 151.71);
    --input: oklch(34.85% 0.033 151.71);
    --ring: oklch(72.28% 0.187 149.58);
  }

:root {
    --background: oklch(21.38% 0.054 346.01);
    --foreground: oklch(98.08% 0.01 346.01);
    --card: oklch(25.52% 0.057 346.01);
    --card-foreground: oklch(98.08% 0.01 346.01);
    --primary: oklch(65.6% 0.196 349.76);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(29.33% 0.054 346.01);
    --secondary-foreground: oklch(98.08% 0.01 346.01);
    --muted: oklch(34.79% 0.049 346.01);
    --muted-foreground: oklch(60.68% 0.027 346.01);
    --accent: oklch(74.86% 0.145 350.49);
    --accent-foreground: oklch(21.38% 0.054 346.01);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.08% 0.01 346.01);
    --border: oklch(37.32% 0.049 346.01);
    --input: oklch(37.32% 0.049 346.01);
    --ring: oklch(65.6% 0.196 349.76);
  }

:root {
    --background: oklch(17.1% 0.016 56.04);
    --foreground: oklch(98.51% 0.003 106.42);
    --card: oklch(21.27% 0.018 56.04);
    --card-foreground: oklch(98.51% 0.003 106.42);
    --primary: oklch(70.23% 0.179 47.6);
    --primary-foreground: oklch(98.51% 0.003 106.42);
    --secondary: oklch(25.04% 0.017 56.04);
    --secondary-foreground: oklch(98.51% 0.003 106.42);
    --muted: oklch(30.7% 0.017 56.04);
    --muted-foreground: oklch(60.13% 0.016 50.54);
    --accent: oklch(74.98% 0.152 48.72);
    --accent-foreground: oklch(17.1% 0.016 56.04);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.51% 0.003 106.42);
    --border: oklch(33.31% 0.017 56.04);
    --input: oklch(33.31% 0.017 56.04);
    --ring: oklch(70.23% 0.179 47.6);
  }

:root {
    --background: oklch(20.79% 0.029 262.35);
    --foreground: oklch(98.42% 0.003 247.86);
    --card: oklch(24.06% 0.032 262.35);
    --card-foreground: oklch(98.42% 0.003 247.86);
    --primary: oklch(62.3% 0.189 259.81);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(28.51% 0.037 260.03);
    --secondary-foreground: oklch(98.42% 0.003 247.86);
    --muted: oklch(32.34% 0.035 260.03);
    --muted-foreground: oklch(61.51% 0.026 257.22);
    --accent: oklch(68.89% 0.158 259.57);
    --accent-foreground: oklch(100% 0 0);
    --destructive: oklch(62.8% 0.21 25.33);
    --destructive-foreground: oklch(98.42% 0.003 247.86);
    --border: oklch(34.72% 0.037 260.03);
    --input: oklch(34.72% 0.037 260.03);
    --ring: oklch(62.3% 0.189 259.81);
  }

:root {
    --background: 18.56% 0.033 151.71;
    --foreground: 98.31% 0.006 143.75;
    --card: 23.09% 0.038 151.71;
    --card-foreground: 98.31% 0.006 143.75;
    --primary: 72.28% 0.187 149.58;
    --primary-foreground: 18.56% 0.033 151.71;
    --secondary: 26.83% 0.037 151.71;
    --secondary-foreground: 98.31% 0.006 143.75;
    --muted: 32.23% 0.033 151.71;
    --muted-foreground: 60.35% 0.022 149.21;
    --accent: 79.49% 0.171 150.06;
    --accent-foreground: 18.56% 0.033 151.71;
    --destructive: 62.8% 0.21 25.33;
    --destructive-foreground: 98.31% 0.006 143.75;
    --border: 34.85% 0.033 151.71;
    --input: 34.85% 0.033 151.71;
    --ring: 72.28% 0.187 149.58;
  }

:root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 20%;
    --muted-foreground: 215 20% 55%;
    --accent: 217 91% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 217 91% 60%;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 140 30% 8%;
    --foreground: 138 20% 98%;
    --card: 140 30% 11%;
    --card-foreground: 138 20% 98%;
    --primary: 142 71% 45%;
    --primary-foreground: 140 30% 8%;
    --secondary: 140 30% 14%;
    --secondary-foreground: 138 20% 98%;
    --muted: 140 25% 18%;
    --muted-foreground: 140 15% 55%;
    --accent: 142 69% 58%;
    --accent-foreground: 140 30% 8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 138 20% 98%;
    --border: 140 25% 20%;
    --input: 140 25% 20%;
    --ring: 142 71% 45%;
  }

:root {
    --background: 200 50% 10%;
    --foreground: 195 20% 98%;
    --card: 200 50% 13%;
    --card-foreground: 195 20% 98%;
    --primary: 189 94% 43%;
    --primary-foreground: 200 50% 10%;
    --secondary: 200 50% 16%;
    --secondary-foreground: 195 20% 98%;
    --muted: 200 40% 20%;
    --muted-foreground: 195 20% 55%;
    --accent: 187 92% 53%;
    --accent-foreground: 200 50% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 195 20% 98%;
    --border: 200 40% 22%;
    --input: 200 40% 22%;
    --ring: 189 94% 43%;
  }
